/.bundle
/vendor/bundle/
/vendor/ruby/
db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
**.war
*.rbc
*.sassc
.redcar/
.sass-cache
/config/config.yml
/config/database.yml
/config/development.sphinx.conf
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3
/public/cache
/public/stylesheets/compiled
/public/assets
/public/assets.tar.bz2
/public/captcha/imgs/*
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/specifications
/db/indices
rerun.txt
pickle-email-*.html
